{% extends 'ZantolovBlogBundle::baseAdmin.html.twig' %}

    {% block body -%}


        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: [""]} %}
            {% block entityTitle %}
                Posts
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "blog.admin.post."} %}
            {% endblock %}
            {% block filterPanel %}
                <form>
                    <ul class="list-inline list-unstyled">
                        <li>
                            <select class="form-control" name="filters[category]">
                                {% for category in categories %}
                                    <option {{ (filters.category is defined ? (filters.category == category.id ? 'selected="selected': '') : '') }}value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-filter"></i> {% trans %}Filter{% endtrans %}
                            </button>
                            <a href="{{ path('blog.admin.post') }}" class="btn btn-default">
                                {% trans %}Reset filters{% endtrans %}</a>
                        </li>
                    </ul>
                </form>

            {% endblock %}
        {% endembed %}


        <table class="table dataTable table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th class="col-sm-2">Published at</th>
                <th>Active</th>
                <th>Slug</th>
                <th>Categories</th>
                <th class="col-sm-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('blog.admin.post.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>{{ entity.title }}</td>
                    <td>{% if entity.publishedAt %}{{ entity.publishedAt|date(defaultDateTimeFormat) }}{% endif %}</td>
                    <td>{{ entity.active|fontAwesome() }}</td>
                    <td>{{ entity.slug }}</td>
                    <td>
                        {% if entity.categories is defined and entity.categories|length > 0 %}
                            {% for category in entity.categories %}
                                <span class="badge">{{ category.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           title="Show"
                           href="{{ path('blog.admin.post.show', { 'id': entity.id }) }}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a class="btn btn-primary btn-sm"
                           title="Edit"
                           href="{{ path('blog.admin.post.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}