{% extends 'ZantolovBlogBundle::baseAdmin.html.twig' %}

    {% block body -%}


        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                Posts
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "blog.admin.post."} %}
            {% endblock %}
        {% endembed %}


        <table class="table dataTable table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th class="col-sm-2">Published at</th>
                <th>Active</th>
                <th>Slug</th>
                <th>Category</th>
                <th class="col-sm-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('blog.admin.post.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>{{ entity.title }}</td>
                    <td>{% if entity.publishedAt %}{{ entity.publishedAt|date(defaultDateTimeFormat) }}{% endif %}</td>
                    <td>{{ entity.active|fontAwesome() }}</td>
                    <td>{{ entity.slug }}</td>
                    <td>{{ entity.category.name }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           title="Show"
                           href="{{ path('blog.admin.post.show', { 'id': entity.id }) }}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a class="btn btn-primary btn-sm"
                           title="Edit"
                           href="{{ path('blog.admin.post.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}