<div>
    {{ form_start(postForm) }}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#content" role="tab" data-toggle="tab">
                {% trans %}Content{% endtrans %}
            </a>
        </li>
        <li role="presentation">
            <a href="#media" role="tab" data-toggle="tab">
                {% trans %}Media{% endtrans %}
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active " id="content">
            <div class="row">

                <div class="col-md-9">
                    {{ form_row(postForm.intro) }}
                    {{ form_row(postForm.body) }}
                </div>

                <div class="col-md-3">
                    {{ form_row(postForm.title) }}

                    <div class="hasTooltip"
                         data-toggle="tooltip"
                         data-placement="left"
                         title="Slug is unique relative URI to access post. It should be permanent.">
                        {{ form_row(postForm.slug) }}
                    </div>

                    <div class="hasTooltip"
                         data-toggle="tooltip"
                         data-placement="left"
                         title="Pages aren't listed in posts listview and they can be accessed directly through slug.">
                        {{ form_row(postForm.isPage) }}
                    </div>

                    {{ form_row(postForm.active) }}
                    {{ form_row(postForm.categories) }}
                    {{ form_row(postForm.keywords) }}
                    {{ form_row(postForm.author) }}

                    <div class="hasTooltip"
                         data-toggle="tooltip"
                         data-placement="left"
                         title="Posts are available only when published.">
                        {{ form_row(postForm.publishedAt) }}
                    </div>
                    {{ form_row(postForm.submit) }}

                </div>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="media">

            {{ form_label(postForm.image) }}
            {{ form_errors(postForm.image) }}
            <p class="help-block">
                Select one leading image for this post
            </p>
            {{ form_widget(postForm.image) }}
        </div>
    </div>

</div>

{{ form_end(postForm) }}

<script>
    var functions = window.functions || [];

    functions.push(function () {

        $("a[data-toggle=tab]").on('shown.bs.tab', function (e) {
            var id = $(this).attr("href");
            var selector = $(id + ' select.select2-hidden-accessible');
            if (selector.length > 0) {
                selector.select2('destroy');
                selector.select2();
            }
        });

        var hasErrors = $(".has-error");
        if (hasErrors.length) {
            var id = hasErrors.first().parent('.tab-pane').attr('id');
            $('a[href="#' + id + '"]').tab('show')
        }
    });
</script>
