{% extends 'ZantolovBlogBundle::baseAdmin.html.twig' %}

    {% block body -%}

        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}

            {% block entityTitle %}
                Category
            {% endblock %}

            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('blog.admin.post') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('blog.admin.post.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            {% endblock %}

        {% endembed %}

        <div class="row">
            <div class="col-md-4">
                {% if entity.image is defined and entity.image is not null %}
                    <div class="imagePreview text-left">
                        <img class="img-thumbnail"
                             src="{{ zantolov_uploader_asset(entity.image, 'imageFile', null, false) | imagine_filter('bigAdminVariation') }}"/>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-8">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ entity.title }}</td>
                    </tr>
                    <tr>
                        <th>Published at</th>
                        <td>{{ entity.publishedAt|date(defaultDateTimeFormat) }}</td>
                    </tr>
                    <tr>
                        <th>Created at</th>
                        <td>{{ entity.createdAt|date(defaultDateTimeFormat) }}</td>
                    </tr>
                    <tr>
                        <th>Updated at</th>
                        <td>{{ entity.updatedAt|date(defaultDateTimeFormat) }}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{{ entity.active|fontAwesome() }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ entity.slug }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <strong>Intro</strong>
                    {{ entity.intro|raw }}
                </div>
                <div class="well">
                    <strong>Body</strong>
                    {{ entity.body|raw }}
                </div>
            </div>
        </div>

    {% endblock %}
