{% trans_default_domain "ZantolovApp" %}
{% extends '::app.html.twig' %}

    {% block body -%}

        <div class="col-md-12">
            {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
            id: item.id,
            routePrefix: crudId,
            ignoreLinks: ['show']
            } %}{% endembed %}

            <div class="row">
                <div class="col-md-4">
                    {% if item.image is defined and item.image is not null %}
                        <div class="imagePreview text-left">
                            <img class="img-thumbnail"
                                 src="{{ zantolov_uploader_asset(item.image, 'imageFile', null, false) | imagine_filter('300x200') }}"/>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ item.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ item.title }}</td>
                        </tr>
                        <tr>
                            <th>Published at</th>
                            <td>{{ item.publishedAt|date(defaultDateTimeFormat) }}</td>
                        </tr>
                        <tr>
                            <th>Created at</th>
                            <td>{{ item.createdAt|date(defaultDateTimeFormat) }}</td>
                        </tr>
                        <tr>
                            <th>Updated at</th>
                            <td>{{ item.updatedAt|date(defaultDateTimeFormat) }}</td>
                        </tr>
                        <tr>
                            <th>Active</th>
                            <td>{{ item.active|fontAwesome() }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td>{{ item.slug }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <strong>Intro</strong><br/>
                        {{ item.intro|raw }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <strong>Body</strong><br/>
                        {{ item.body|raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}