{% extends 'ZantolovBlogBundle::baseAdmin.html.twig' %}

    {% block body -%}

        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                Category
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "blog.admin.category."} %}
            {% endblock %}
        {% endembed %}

        <table class="table dataTable">
            <thead>
            <tr>
                <th class="col-sm-1">#</th>
                <th>Name</th>
                <th>Parent</th>
                <th>Active</th>
                <th class="col-sm-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('blog.admin.category.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>{{ entity.name }}</td>
                    <td>{% if entity.parent %}{{ entity.parent.name }}{% endif %}</td>
                    <td>{{ entity.active|fontAwesome() }}</td>
                    <td>

                        <a class="btn btn-primary btn-sm"
                           title="Show"
                           href="{{ path('blog.admin.category.show', { 'id': entity.id }) }}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a class="btn btn-primary btn-sm"
                           title="Edit"
                           href="{{ path('blog.admin.category.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}