{% extends '::app.html.twig' %}

    {% block body -%}
        <div class="col-md-12">

            {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
            routePrefix: crudId,
            ignoreLinks: ['list']
            } %}{% endembed %}

            {% embed 'ZantolovAppBundle:CRUD/Template:datatable.html.twig' %}
                {% block thead %}
                    <tr>
                        <th class="col-sm-1">#</th>
                        <th>Name</th>
                        <th>Parent</th>
                        <th>Active</th>
                        <th class="col-sm-2"></th>
                    </tr>
                {% endblock thead %}

                {% block item %}
                    {% trans_default_domain "ZantolovApp" %}
                    <tr>
                        <td>
                            <a href="{{ path('blog.categories.show', { 'id': item.id }) }}">{{ item.id }}</a>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{% if item.parent %}{{ item.parent.name }}{% endif %}</td>
                        <td>{{ item.active|fontAwesome() }}</td>
                        <td class="text-right">
                            {% include 'ZantolovAppBundle:CRUD/Template:datatable-item-actions.html.twig' with {
                            crudId: crudId,
                            showLabels: true
                            } %}
                        </td>
                    </tr>
                {% endblock item %}

            {% endembed %}
        </div>

    {% endblock %}
