{% extends 'ZantolovBlogBundle::baseAdmin.html.twig' %}

    {% block body -%}
        <h1>Category</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Deleted at</th>
                <td>{{ entity.deletedAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active|fontAwesome() }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ entity.createdAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ entity.updatedAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            </tbody>
        </table>

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('blog.admin.category') }}">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </li>
            <li>
                <a class="btn btn-primary"
                   href="{{ path('blog.admin.category.edit', { 'id': entity.id }) }}">
                    <i class="fa fa-edit"></i> Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    {% endblock %}
