{% trans_default_domain "ZantolovApp" %}
{% extends '::app.html.twig' %}

    {% block body -%}

        <div class="col-md-12">
            {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
            id: item.id,
            routePrefix: crudId,
            ignoreLinks: ['show']
            } %}{% endembed %}

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th class="col-sm-2">Id</th>
                        <td>{{ item.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ item.name }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ item.slug }}</td>
                </tr>
                <tr>
                    <th>Deleted at</th>
                    <td>{{ item.deletedAt|date(defaultDateTimeFormat) }}</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td>{{ item.active|fontAwesome() }}</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>{{ item.createdAt|date(defaultDateTimeFormat) }}</td>
                </tr>
                <tr>
                    <th>Updated at</th>
                    <td>{{ item.updatedAt|date(defaultDateTimeFormat) }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    {% endblock %}
